


    <div class="container">
        <div class="row">
            <section id="_MainSlider" style="background-image:url('assets/img/sample4.jpg');">
                <div class="overlay">
                    <div class="container">
                        <div class="row">
                            <div class="content-holder col-md-offset-6 col-md-5">
                                <div class="overlay-holder">
                                    <center>
                                        <h4>27TH NATIONAL OPEN CHAMPIONSHIP FOR HAIRSTYLING AND MAKE UP COMPETITION</h4>
                                        <h1>21 MARCH 2017</h1>
                                        <h4>WORLD TRADE CENTER MANILA</h4>
                                        <p>AHGLOW CORPORATION · ASIDA · BANDI · BEAUTY KINGDOM · BELLE LA PEAU SERVES & TRADING CORPORATION · BINONDO BEAUTY SUPPLY · ZOYA · WELLA · WAHL · SG MARKETING · SUESH MAKEUP TOOL KIT · SOLTERA HAIR · JUST NAIL · MAX FACTOR · NATURALS · RENEW KERATIN BLOWOUT</p>
                                        <button class="m-btn bordered">READ MORE</button>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <ul id="_SliderItems" style="display: none;">
                    <li><img src="assets/img/sample4.jpg" alt="La Trinidad, Baguio City"></li>
                    <li><img src="assets/img/sample5.jpg" alt="Pasig City"></li>
                    <li><img src="assets/img/sample2.jpg" alt="Samal Island"></li>
                    <li><img src="assets/img/sample3.jpg" alt="Davao City"></li>
                    <li><img src="assets/img/sample6.jpg" alt="Eden Nature Park, Davao City"></li>
                    <li><img src="assets/img/sample7.jpg" alt="Forest"></li>
                </ul>
            </section>
        </div>
    </div>

    <div class="container main-content">
        <div class="row">
            <!-- Main Left Contents -->
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="header-title">Events and Exhibits</div>
                    </div>

                    <div class="col-xs-6 col-md-6 header-content">
                        <div class="img-holder">
                            <img src="assets/img/sample2.jpg" alt="">
                        </div>
                        <p>26th Natioanal Open Championship for Hairstyling and Makeup Competition</p>
                        <small>28 MARCH 2016</small><br/><br/>
                        <button class="m-btn bordered">Read More</button>
                    </div>

                    <div class="col-xs-6 col-md-6 header-content">
                        <div class="img-holder">
                            <img src="assets/img/sample3.jpg" alt="">
                        </div>
                        <p>26th Natioanal Open Championship for Hairstyling and Makeup Competition</p>
                        <small>28 MARCH 2016</small><br/><br/>
                        <button class="m-btn bordered">Read More</button>
                    </div>
                </div>
                <br/><br/>
                <div class="row">
                    <div class="col-md-12">
                        <div class="header-title">HairAsia Blogs</div>
                    </div>

                    <div class="col-xs-6 col-md-6 header-content">
                        <div class="img-holder">
                            <img src="assets/img/sample2.jpg" alt="">
                        </div>
                        <p>26th Natioanal Open Championship for Hairstyling and Makeup Competition</p>
                        <small>28 MARCH 2016</small><br/><br/>
                        <button class="m-btn bordered">Read More</button>
                    </div>

                    <div class="col-xs-6 col-md-6 header-content">
                        <div class="img-holder">
                            <img src="assets/img/sample3.jpg" alt="">
                        </div>
                        <p>26th Natioanal Open Championship for Hairstyling and Makeup Competition</p>
                        <small>28 MARCH 2016</small><br/><br/>
                        <button class="m-btn bordered">Read More</button>
                    </div>

                </div>

                <br/><br/>
            </div>

            <!-- Main Right Contents -->
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="header-title">Sponsor</div>
                    </div>

                    <div class="col-md-12 header-content">
                        <center>
                            <img src="assets/img/ads.jpg" alt="">
                        </center>
                    </div>
                </div>
                <br/><br/>
                <div class="row">
                    <div class="col-md-12">
                        <div class="header-title">Our Latest Magazine</div>
                    </div>

                    <div class="col-md-12 header-content">
                        <center>
                            <img src="assets/img/magazine_sample.jpg" alt=""><br/><br/>
                            <p>Now Available at Hair Asia Salon.<br/>Avail Now!</p>
                        </center>
                    </div>

                </div>
            </div>
        </div>
    </div>
