    @import url('https://fonts.googleapis.com/css?family=Quicksand');

    body, html {
        background: #fff;
        font-family: 'Quicksand', sans-serif;
    }

    p {
        font-family: 'Quicksand', sans-serif !important;
    }

    nav {
        width:      100%;
        background: #fff;
        position:   fixed;
        top:        0;
        left:       0;
        padding:    10px 0 5px 0;
        z-index:    9999999999999;

        .logo {
            font:           800 36px 'Arial Black';
            letter-spacing: -3px;

            .first-part {
                color: #bb1515;
            }

            .sec-part {
                color: #d04646;
            }
        }

        ul.main-menu {
            margin: 20px 20px 0 0;
            li {
                display:        inline;
                list-style:     none;
                padding :       5px 15px;
                font :          700 14px 'Open Sans', sans-serif;
                letter-spacing: -1px;
                color:          #6a6a6a;
                text-transform: uppercase;;

                &.active {
                    color:          #000;
                    border:         1px solid #000;
                    border-radius:  3px;
                }

                &:hover {
                    color: #000;
                }
            }
        }
    }

    #MainSlider {


        height: 85vh;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        z-index: -1;
        margin-top: 50px;
        overflow: hidden;

        ul {
            position: relative;
            li {
                position: absolute;
                top: 0;
                left: 0;
                height: 85vh;
                width: 100%;
                background-position: center !important;
                background-size: cover !important;
                background-repeat: no-repeat !important;
                background-attachment: fixed !important;

                &:not(:first-child) {
                    display: none;
                }
            }
        }

        .overlay {
            position: relative;
            height: 100%;
            width: 100%;
            z-index: 1;
            text-transform: uppercase;

            .content-holder {
                color: #000;
                display: flex;
                justify-content: center;
                flex-direction: column;
                height: 85vh;
                font: 400 14px 'Quicksand', sans-serif;

                .overlay-holder {
                    background: rgba(255, 255, 255, .7);
                    border-radius: 3px;
                    padding: 20px;

                    h4 {
                        font-weight: 800;
                        font-size: 14px;
                    }

                    h1 {
                        margin: 0px;
                        line-height: 50%;
                        font-weight: 800;
                        font-size: 32px;
                    }

                    p {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .main-content {
        margin-top: 30px;

        .header-title {
            width: 100%;
            border-bottom: 2px solid #bb1515;
            color: #bb1515;
            padding: 10px 20px;
            font: 800 18px 'Quicksand', sans-serif;
            text-transform: uppercase;
            margin-bottom: 20px;
        }

        .header-content {
            font: 800 18px 'Quicksand', sans-serif;
            text-align: center;
            .img-holder {
                width: 100%;
                height: auto;
                overflow: hidden;
                margin-bottom: 10px;
            }

            p {
                margin: 0px;
            }

            small {
                color: #a7a7a7;
                font-size: 12px;
                text-transform: uppercase;
            }
        }
    }

    footer {
        background: #f2f2f2;
        width: 100%;
        margin-top: 20px;
        padding: 20px;

        .footer-menu {
            margin: 20px 20px 0 0;
            li {
                display:        inline;
                list-style:     none;
                padding :       5px 15px;
                font :          700 14px 'Open Sans', sans-serif;
                letter-spacing: -1px;
                color:          #6a6a6a;
                text-transform: uppercase;
            }
        }

        p {
            margin-top: 20px;
            font: 700 14px 'Quicksand', sans-serif;
        }
    }

    .m-btn {
        border: none;
        background: #fff;
        font: 400 12px 'Quicksand', sans-serif;
        padding: 5px;
        text-transform: uppercase;

        &.bordered {
            border: 1px solid #000;
            background: transparent;
            border-radius: 3px;
            font-weight: 700;

            &:hover {
                background: #000;
                color: #fff;
            }
        }
    }

    img {
        max-width: 100%;
    }

    a {
        color: inherit;

        &:hover, &:focus, &:active, &:visited {
            color: inherit;
            text-decoration: inherit;
        }
    }

    @font-face {
        font-family: "Arial Black";
        src: url(../fonts/ariblk.ttf);
    }

    @media only screen and (min-device-width: 320px) and (max-device-width: 768px)  {
        nav {
            position: fixed;
            width: 100%;
            z-index: 99;

            #Mobile-Menu {
                display: block !important;
            }

            #Menu-Options {
                display: none;

                ul {
                    float: none !important;
                    margin-left: -20px !important;
                    width: 100%;

                    li {
                        display: block;
                        text-align: center;
                        padding: 5px;
                        margin: 0px !important;
                    }
                }
            }
        }

        .header-content {
            font: 800 14px 'Quicksand', sans-serif !important;
            text-align: center;
        }
    }
