@import url("https://fonts.googleapis.com/css?family=Quicksand");
body, html {
  background: #fff;
  font-family: 'Quicksand', sans-serif;
}

p {
  font-family: 'Quicksand', sans-serif !important;
}

nav {
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 0 5px 0;
  z-index: 9999999999999;
}

nav .logo {
  font: 800 36px 'Arial Black';
  letter-spacing: -3px;
}

nav .logo .first-part {
  color: #bb1515;
}

nav .logo .sec-part {
  color: #d04646;
}

nav ul.main-menu {
  margin: 20px 20px 0 0;
}

nav ul.main-menu li {
  display: inline;
  list-style: none;
  padding: 5px 15px;
  font: 700 14px 'Open Sans', sans-serif;
  letter-spacing: -1px;
  color: #6a6a6a;
  text-transform: uppercase;
}

nav ul.main-menu li.active {
  color: #000;
  border: 1px solid #000;
  border-radius: 3px;
}

nav ul.main-menu li:hover {
  color: #000;
}

#MainSlider {
  height: 85vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
  margin-top: 50px;
  overflow: hidden;
}

#MainSlider ul {
  position: relative;
}

#MainSlider ul li {
  position: absolute;
  top: 0;
  left: 0;
  height: 85vh;
  width: 100%;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
}

#MainSlider ul li:not(:first-child) {
  display: none;
}

#MainSlider .overlay {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
  text-transform: uppercase;
}

#MainSlider .overlay .content-holder {
  color: #000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 85vh;
  font: 400 14px 'Quicksand', sans-serif;
}

#MainSlider .overlay .content-holder .overlay-holder {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  padding: 20px;
}

#MainSlider .overlay .content-holder .overlay-holder h4 {
  font-weight: 800;
  font-size: 14px;
}

#MainSlider .overlay .content-holder .overlay-holder h1 {
  margin: 0px;
  line-height: 50%;
  font-weight: 800;
  font-size: 32px;
}

#MainSlider .overlay .content-holder .overlay-holder p {
  font-size: 12px;
}

.main-content {
  margin-top: 30px;
}

.main-content .header-title {
  width: 100%;
  border-bottom: 2px solid #bb1515;
  color: #bb1515;
  padding: 10px 20px;
  font: 800 18px 'Quicksand', sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.main-content .header-content {
  font: 800 18px 'Quicksand', sans-serif;
  text-align: center;
}

.main-content .header-content .img-holder {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 10px;
}

.main-content .header-content p {
  margin: 0px;
}

.main-content .header-content small {
  color: #a7a7a7;
  font-size: 12px;
  text-transform: uppercase;
}

footer {
  background: #f2f2f2;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
}

footer .footer-menu {
  margin: 20px 20px 0 0;
}

footer .footer-menu li {
  display: inline;
  list-style: none;
  padding: 5px 15px;
  font: 700 14px 'Open Sans', sans-serif;
  letter-spacing: -1px;
  color: #6a6a6a;
  text-transform: uppercase;
}

footer p {
  margin-top: 20px;
  font: 700 14px 'Quicksand', sans-serif;
}

.m-btn {
  border: none;
  background: #fff;
  font: 400 12px 'Quicksand', sans-serif;
  padding: 5px;
  text-transform: uppercase;
}

.m-btn.bordered {
  border: 1px solid #000;
  background: transparent;
  border-radius: 3px;
  font-weight: 700;
}

.m-btn.bordered:hover {
  background: #000;
  color: #fff;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}

a:hover, a:focus, a:active, a:visited {
  color: inherit;
  text-decoration: inherit;
}

@font-face {
  font-family: "Arial Black";
  src: url(../fonts/ariblk.ttf);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  nav {
    position: fixed;
    width: 100%;
    z-index: 99;
  }
  nav #Mobile-Menu {
    display: block !important;
  }
  nav #Menu-Options {
    display: none;
  }
  nav #Menu-Options ul {
    float: none !important;
    margin-left: -20px !important;
    width: 100%;
  }
  nav #Menu-Options ul li {
    display: block;
    text-align: center;
    padding: 5px;
    margin: 0px !important;
  }
  .header-content {
    font: 800 14px 'Quicksand', sans-serif !important;
    text-align: center;
  }
}
