    @import url('https://fonts.googleapis.com/css?family=Pacifico|Playfair+Display+SC:400,700|Quicksand:400,500|Caveat');

    body {
        background: #fff;
        font: 400 16px 'Quicksand', serif !important;
    }

    nav {
        background: #000;
        color: #fff;
        font: 400 14px 'Quicksand', sans-serif;
        padding: 10px 0;

        #Mobile-Menu {
            font-size: 18px;
            display: none;
        }

        ul {
            list-style: none;
            margin: 0px;

            li {
                display: inline;
                padding: 0px 10px;
                text-transform: uppercase;

                &:hover {
                    color: #e1e1e1;
                }
            }
        }
    }

    .itinerary-plot {
        margin: 0;
        padding: 0;
        position: relative;

        li.itinerary-item {
            list-style: none;
            position: relative;
            margin-top: 30px;

            &:before {
                content : ' ';
                background: #a1a1a1;
                width: 3px;
                height: 100%;
                position: absolute;
                top: 0px;
                left: 20px;
                margin-top: 25px;
                z-index: -1;
            }

            &:last-child:after {
                content: ' ';
                background: #a1a1a1;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                position: absolute;
                left: 18px;
                bottom: -25px;
            }

            ul {
                li {
                    list-style: none;
                    margin-bottom: 10px;
                    &:before, &:after {
                        display: none;
                    }

                    table {
                        width: 100%;
                    }
                }
            }

        }
    }

    .label {
        margin-right: 10px;
    }

    .overlay {
        position: relative;

        .title-holder {
            color: #000;
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 200px;
            font: 400 14px 'Quicksand', sans-serif;

            h1 {
                font: 400 36px 'pacifico', cursive;
                font-weight: bolder;
                margin-bottom: 0px;
                color: #000;
            }
        }
    }

    #MainSlider {
        height: 85vh;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;

        ul {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;

            li {
                width: 100%;
                position: absolute;
                top : 0;
                left: 0;
                list-style: none !important;

                &:not(:first-child) {
                    display: none;
                }
            }
        }

        .overlay {
            position: absolute;
            height: 100%;
            top: 0;

            .title-holder {
                color: #000;
                display: flex;
                justify-content: center;
                flex-direction: column;
                height: 85vh;
                font: 400 14px 'Quicksand', sans-serif;

                h1 {
                    color: #fff;
                    font: 400 36px 'pacifico', cursive;
                    font-weight: bolder;
                    margin-bottom: 0px;
                }
            }
        }
    }

    .blog-holder {
        position: relative;
        margin-top: 40px;
        h1, h3 {
            font: 400 36px 'Caveat', cursive;
            margin-bottom: -5px;
        }

        h3 {
            font-size: 28px;
        }

        small {
            color: #a1a1a1;
        }

        .blog-description {

            button {
                background: transparent;
                border: 1px solid #000;
                padding: 10px;
                text-transform: uppercase;
                font: 400 12px 'Quicksand', sans-serif;

                &.draft {
                    border-color: yellow;

                    &:hover {
                        background: yellow;
                        color: #000;
                    }
                }


                &.delete {
                    border-color: #bb1515;

                    &:hover {
                        background: #bb1515;
                        color: #fff;
                    }
                }

                &:hover {
                    background: #000;
                    color: #fff
                }
            }

            .tags {
                color: #a1a1a1;
            }
        }
    }

    #extras {
        margin-top: 40px;

        p.quote {
            font: 400 20px 'Pacifico', cursive;
            margin: 0px;
        }
    }

    .collage {
        &.count-1 {
            img {
                margin-top: 2px;
            }
        }

        &.count-2 {
            img {
                width: calc(50% - 2px);
                float: left;
                margin-left: 2px;
            }
        }

        &.count-3 {
            img:first-child {
                width: calc(100% - 2px);
                float: none;
                margin-left: 2px;
            }

            img:not(:first-child) {
                width: calc(50% - 2px);
                float: left;
                margin-top: 2px;
                margin-left: 2px;
            }
        }

        &.count-4 {
            img {
                width: calc(50% - 2px);
                float: left;
                margin-left: 2px;
                margin-top: 2px;
            }
        }

        &.count-5 {
            img:first-child {
                width: calc(100% - 2px);
                float: none;
                margin-left: 2px;
            }

            img:not(:first-child) {
                width: calc(50% - 2px);
                float: left;
                margin-left: 2px;
                margin-top: 2px;
            }
        }
    }

    .view-info {
        border: 1px solid #000;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        max-width: 100%;

        .title {
            font-size: 22px;
        }

        .value {
            text-align: center;
            font-size: 36px;
        }

        .footer {
            font-size: 12px;


            .footer-value {
                color: lime;
            }
        }
    }

    h1 {
        font: inherit;
        font-weight: inherit;
    }

    a {
        color: inherit;

        &:hover, &:focus, &:active, &:visited {
            color: inherit;
            text-decoration: inherit;
        }
    }

    img {
        max-width: 100%;
    }

    footer {
        background: #000;
        width: 100%;
        color: #fff;
        padding: 10px;
        margin-top: 30px;

        ul {
            list-style: none;
            margin: 0px;
            padding: 0;

            li {
                display: inline;
                padding: 0px 10px;
                text-transform: uppercase;

                &:hover {
                    color: #e1e1e1;
                }
            }
        }

        p {
            font-size: 14px;
            color: #a1a1a1;

            span {
                color: #fff !important;
            }
        }

    }

    @media only screen and (min-device-width: 320px) and (max-device-width: 768px)  {
        .blog-holder {
            .blog-description {
                p {
                    margin-bottom: 10px;
                }

                button {
                    display: block;
                    margin: 0 auto !important;
                }
            }
        }

        nav {
            position: fixed;
            width: 100%;
            z-index: 99;
            #Mobile-Menu {
                display: block;
            }

            #Menu-Options {
                display: none;

                li {
                    display: block;
                    text-align: center;
                    padding: 5px;
                }
            }
        }

        #_MainSlider {
            .overlay {
                .title-holder {
                    h1 {
                        color: #fff;
                        font: 800 32px 'pacifico', cursive;
                        font-weight: bolder;
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
