@import url("https://fonts.googleapis.com/css?family=Pacifico|Playfair+Display+SC:400,700|Quicksand:400,500|Caveat");
body {
  background: #fff;
  font: 400 16px 'Quicksand', serif !important;
}

nav {
  background: #000;
  color: #fff;
  font: 400 14px 'Quicksand', sans-serif;
  padding: 10px 0;
}

nav #Mobile-Menu {
  font-size: 18px;
  display: none;
}

nav ul {
  list-style: none;
  margin: 0px;
}

nav ul li {
  display: inline;
  padding: 0px 10px;
  text-transform: uppercase;
}

nav ul li:hover {
  color: #e1e1e1;
}

.itinerary-plot {
  margin: 0;
  padding: 0;
  position: relative;
}

.itinerary-plot li.itinerary-item {
  list-style: none;
  position: relative;
  margin-top: 30px;
}

.itinerary-plot li.itinerary-item:before {
  content: ' ';
  background: #a1a1a1;
  width: 3px;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 20px;
  margin-top: 25px;
  z-index: -1;
}

.itinerary-plot li.itinerary-item:last-child:after {
  content: ' ';
  background: #a1a1a1;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  left: 18px;
  bottom: -25px;
}

.itinerary-plot li.itinerary-item ul li {
  list-style: none;
  margin-bottom: 10px;
}

.itinerary-plot li.itinerary-item ul li:before, .itinerary-plot li.itinerary-item ul li:after {
  display: none;
}

.itinerary-plot li.itinerary-item ul li table {
  width: 100%;
}

.label {
  margin-right: 10px;
}

.overlay {
  position: relative;
}

.overlay .title-holder {
  color: #000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 200px;
  font: 400 14px 'Quicksand', sans-serif;
}

.overlay .title-holder h1 {
  font: 400 36px 'pacifico', cursive;
  font-weight: bolder;
  margin-bottom: 0px;
  color: #000;
}

#MainSlider {
  height: 85vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#MainSlider ul {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#MainSlider ul li {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  list-style: none !important;
}

#MainSlider ul li:not(:first-child) {
  display: none;
}

#MainSlider .overlay {
  position: absolute;
  height: 100%;
  top: 0;
}

#MainSlider .overlay .title-holder {
  color: #000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 85vh;
  font: 400 14px 'Quicksand', sans-serif;
}

#MainSlider .overlay .title-holder h1 {
  color: #fff;
  font: 400 36px 'pacifico', cursive;
  font-weight: bolder;
  margin-bottom: 0px;
}

.blog-holder {
  position: relative;
  margin-top: 40px;
}

.blog-holder h1, .blog-holder h3 {
  font: 400 36px 'Caveat', cursive;
  margin-bottom: -5px;
}

.blog-holder h3 {
  font-size: 28px;
}

.blog-holder small {
  color: #a1a1a1;
}

.blog-holder .blog-description button {
  background: transparent;
  border: 1px solid #000;
  padding: 10px;
  text-transform: uppercase;
  font: 400 12px 'Quicksand', sans-serif;
}

.blog-holder .blog-description button.draft {
  border-color: yellow;
}

.blog-holder .blog-description button.draft:hover {
  background: yellow;
  color: #000;
}

.blog-holder .blog-description button.delete {
  border-color: #bb1515;
}

.blog-holder .blog-description button.delete:hover {
  background: #bb1515;
  color: #fff;
}

.blog-holder .blog-description button:hover {
  background: #000;
  color: #fff;
}

.blog-holder .blog-description .tags {
  color: #a1a1a1;
}

#extras {
  margin-top: 40px;
}

#extras p.quote {
  font: 400 20px 'Pacifico', cursive;
  margin: 0px;
}

.collage.count-1 img {
  margin-top: 2px;
}

.collage.count-2 img {
  width: calc(50% - 2px);
  float: left;
  margin-left: 2px;
}

.collage.count-3 img:first-child {
  width: calc(100% - 2px);
  float: none;
  margin-left: 2px;
}

.collage.count-3 img:not(:first-child) {
  width: calc(50% - 2px);
  float: left;
  margin-top: 2px;
  margin-left: 2px;
}

.collage.count-4 img {
  width: calc(50% - 2px);
  float: left;
  margin-left: 2px;
  margin-top: 2px;
}

.collage.count-5 img:first-child {
  width: calc(100% - 2px);
  float: none;
  margin-left: 2px;
}

.collage.count-5 img:not(:first-child) {
  width: calc(50% - 2px);
  float: left;
  margin-left: 2px;
  margin-top: 2px;
}

.view-info {
  border: 1px solid #000;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  max-width: 100%;
}

.view-info .title {
  font-size: 22px;
}

.view-info .value {
  text-align: center;
  font-size: 36px;
}

.view-info .footer {
  font-size: 12px;
}

.view-info .footer .footer-value {
  color: lime;
}

h1 {
  font: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

a:hover, a:focus, a:active, a:visited {
  color: inherit;
  text-decoration: inherit;
}

img {
  max-width: 100%;
}

footer {
  background: #000;
  width: 100%;
  color: #fff;
  padding: 10px;
  margin-top: 30px;
}

footer ul {
  list-style: none;
  margin: 0px;
  padding: 0;
}

footer ul li {
  display: inline;
  padding: 0px 10px;
  text-transform: uppercase;
}

footer ul li:hover {
  color: #e1e1e1;
}

footer p {
  font-size: 14px;
  color: #a1a1a1;
}

footer p span {
  color: #fff !important;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .blog-holder .blog-description p {
    margin-bottom: 10px;
  }
  .blog-holder .blog-description button {
    display: block;
    margin: 0 auto !important;
  }
  nav {
    position: fixed;
    width: 100%;
    z-index: 99;
  }
  nav #Mobile-Menu {
    display: block;
  }
  nav #Menu-Options {
    display: none;
  }
  nav #Menu-Options li {
    display: block;
    text-align: center;
    padding: 5px;
  }
  #_MainSlider .overlay .title-holder h1 {
    color: #fff;
    font: 800 32px 'pacifico', cursive;
    font-weight: bolder;
    margin-bottom: 0px;
  }
}
